.loginContainer{
  display: flex;
  
  margin-bottom: 1000px;
  
}




.leftContainer{
  position: absolute;
  background-color:  #8b4513;
  width: 600px;
  height: 500px;
  
  
  margin-left: 140px;
  bottom: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}
.leftContainer h2{
  position: relative;
  top: 150px;
  margin-left: 90px;
  color: #fffae5;
}
.leftContainer p{
  position: relative;
  top: 170px;
  margin-left: 30px;
  color: #fffae5;
  
}
.rightContainer{
  position: absolute;
  right: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
  
  background-color: #fffae5;
  width: 600px;
  height: 500px;
  bottom: 30px;

}
.rightContainer h2{
  margin-top: 60px;
  font-size: 50px;
  text-align: center;
}
.rightContainer input{
  width: 300px;
  margin-left: 120px;
  margin-top: 80px;
}
.rightContainer a{
  position: absolute;
  top: 250px;
  right: 180px;
  color: darkgreen;
}
.sendButton{
  position: absolute ;
  top: 280px;
  right: 260px;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  
  
}


